.navbar {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81.5485px);
  backdrop-filter: blur(81.5485px);
}

.navbar__menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.navbar__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  padding: 38px 0;
  color: #FFFFFF;
  transition: opacity 1s;
}

.navbar__link:hover {
  opacity: 0.5;
}

.navbar__link_active {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  border-bottom: 3px solid #FFFFFF;
  padding: 38px 0;
  transition: opacity 1s;
}

.navbar__link_active:hover {
  opacity: 0.5;
}

.navbar__span-accent {
  font-weight: 700;
  padding-right: 12px;
}

@media screen and (max-width: 1100px) {
  .navbar__link {
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 2.3625px;
  }
  .navbar__link_active {
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 2.3625px;
  }
  .navbar__span-accent {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .navbar {
    display: none;
  }
}